@font-face {
  font-family: "eXO2Stencil";
  src: url("font/eXO2Stencil.ttf") format("truetype");
}

/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background-color: #181818;
}

::-webkit-scrollbar-thumb{
  background-color: #decdb0;
  border-radius: 10px;
}

h2 {
  font-family: "eXO2Stencil";
  color: #250909;
  font-size: 5em;
}

p {
  font-family: "Neuton", serif;
  color: #decdb0;
  font-size: 1.4rem;
  text-align: justify;
}

/* Tirar depois de organizar as imagens */
body {
  overflow-x: hidden;
}

/* background */

.container {
  width: 100%;
  position: absolute;
  z-index: -1000;
  display: flex;
  flex-direction: column;
  gap: -8rem;
}

.container img {
  width: 100%;
}

.container svg {
  height: 10rem;
  position: absolute;
  top: 78vh;
  width: 100%;
}

.container svg .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.container svg .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.container svg .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.container svg .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.container svg .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* header */

header {
  display: flex;
  justify-content: center;
}

header .headerWrapper {
  background-color: rgba(0, 31, 53, 0.95);
  width: 95%;
  height: 6rem;
  position: fixed;
  margin-top: 2rem;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12rem;
  z-index: 9999;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* sombra na nav */
}

header .headerWrapper a img {
  width: 6rem;
}

header .headerWrapper nav {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .headerWrapper nav li a {
  text-decoration: none;
  font-family: "eXO2Stencil", sans-serif;
  font-size: 1.6rem;
  color: white;
}

/* main */

main {
  padding: 0 10%;
}

/* hero */

main #hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

main #hero .heroWrapper {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
}

main #hero .heroWrapper img {
  margin: 2rem 0;
  width: 11rem;
}

main #hero .heroWrapper .button {
  width: 23rem;
  transform: rotate(-2.56deg);
  cursor: pointer;
  transition: 0.5s;
}

main #hero .heroWrapper .button:hover {
  transform: scale(1.1);
}

main #hero .light {
  /* luz do farol */
  width: 35%;
  position: absolute;
  right: 11.5rem;
  top: 5rem;
  opacity: 0;
  transition: 0.5s;
}

main #hero .light img {
  width: 100%;
}

main #hero .light:hover {
  opacity: 1;
}

/* secao historia */

main #historia {
  display: flex;
  align-items: center;
  padding-top: 4.5rem;
  margin-top: 8rem;
}

main #historia img {
  width: 45%;
}

main #historia .textoHistoria {
  padding: 10% 8.5%;
  width: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

main #historia .textoHistoria p {
  color: #250909;
}

main #historia .textoHistoria #caixaTexto {
  position: absolute;
  width: 33rem;
  z-index: -999;
  bottom: 6.5rem;
  left: 4.5rem;
}

/* Personagens */

main #personagens {
  padding-top: 9.5rem;
}

main #personagens .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12rem;
  row-gap: 1.8rem;
  margin-top: 2rem;
}

main #personagens .cards img{
  width: 100%;
  cursor: pointer;
}

/* saiba mais */

main #saibaMais h2 {
  padding: 9.5rem 0 0.5rem 0;
  margin-top: 5rem;
}

main #saibaMais #textoSaibaMais {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

main #saibaMais #textoSaibaMais i{
  font-size: 9rem;
  color: #decdb0;
  margin-bottom: -2rem;
}

main #saibaMais #textoSaibaMais img{
  width: 31rem;
}

main #saibaMais #textoSaibaMais .saibaMais {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 30rem; 
}
