@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  header .headerWrapper a img {
    margin-right: 1rem;
    width: 4rem;
  }

  header .headerWrapper nav li a {
    font-size: 1.2em;
  }

  main #hero {
    padding: 1rem;
    margin: auto;
    width: 100%;
    justify-content: center;
  }

  main #hero .heroWrapper {
    min-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  header .headerWrapper {
    height: 5rem;
  }
  
  header .headerWrapper i {
    display: flex;
  }

  header .headerWrapper nav {
    display: flex;
    opacity: 0;
    background-color: rgba(0, 31, 53, 0.95);
    position: absolute;
    width: 15em;
    height: 50vh;
    right: 0;
    top: 6.5rem;
    flex-direction: column;
    border-radius: 25px;
    padding: 1rem 0;
    opacity: 0;
  }

  header .headerWrapper nav.active {
    opacity: 1;
  }

  header .headerWrapper nav li a {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 640px) {
}
